<div class="hero-image">
  <div clas="hero-text">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col p-4">
          <img src="./assets/img/SQ.png" alt="SQ" class="SQ">
          <img src="./assets/img/Song.png" alt="Song" class="Song">
          <img src="./assets/img/Quest.png" alt="Quest" class="Quest">
          <h3 class="well">Welcome to Song Quest, are you ready to level up your Bardic skills?</h3>
          <h2 class="login">Login</h2>
          <label for="user" class="user">Username:</label>
          <input type="text" id="user" placeholder="Username">
          <label for="pass" class="pass">Password:</label>
          <input type="password" id="pass" placeholder="Password">
          <button id="logBtn">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{! script directs to login js in client side public folder}}
<script src="/js/login.js"></script>