<h2 class="login">Login</h2>

<div>
  <form class="login-form">
    <label for="user">Username:</label>
    <input type="text" class="user" id="user" placeholder="Username">
    <label for="pass">Password:</label>
    <input type="password" class="pass" id="pass" placeholder="Password">
    <button id="logBtn" type="submit">Login</button>
  </form>
</div>

<div class="password-div">
  <h1>Sign Up</h1>

  <form class="row g-3 needs-validation signup-form" novalidate>
    {{! email signup section from bootstrap 5.1}}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control email-signup" id="exampleFormControlInput1"
        placeholder="name@example.com">
    </div>

    {{! username signup section from bootstrap 5.1}}
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label">Username</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input type="text" class="form-control sign-user" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
          required>
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>

    {{! password signup section from bootstrap 5.1}}
    <label for="inputPassword5" class="form-label">Password</label>
    <input type="password" id="inputPassword5" class="form-control sign-pass" aria-describedby="passwordHelpBlock">
    <div id="passwordHelpBlock" class="form-text">
      Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special
      characters, or emoji.
    </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>

  </form>
</div>

{{! script directs to login js in client side public folder}}
<script src="/js/login.js"></script>
<script src='/js/signup.js'></script>