<h1>Profile Page</h1>

<div class="d-grid gap-2 d-md-block">
  <form class="createSong">
    <button class="btn btn-primary" type="button">Create a New Song</button>
    {{!-- <button class="btn btn-primary deleteSong" type="button">Delete Song</button> --}}
  </form>
</div>

{{!-- insert song html code here --}}
{{#each songs as |song|}}
<div>
  <iframe width="560" height="315" src={{songLink}} title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
  <button class="btn btn-primary deleteSong" data-id="{{id}}" type="button">Delete Song</button>
</div>
{{#each Comments as |comment|}}
<h3>{{comment.author}}</h3>
<p>{{comment.content}}</p>
{{/each}}
{{!-- add new comment form/button here (author, content) + user_id from session (plus song_id somehow) handlebars? --}}
{{/each}}
<script src="/js/song.js"></script>