{{!-- insert song html code here --}}
{{#each Songs as |song|}}
<div>
  <iframe width="560" height="315" src={{songLink}} title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
    {{!-- delete button  --}}
</div>
{{#each Comments as |comment|}}
<h3>{{author}}</h3>
<p>{{content}}</p>
{{/each}}
{{!-- add new comment form/button here (author, content) + user_id from session (plus song_id somehow) handlebars? --}}
{{/each}}