body {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("https://i.pinimg.com/originals/9a/82/8d/9a828d0fc00a2540d35339e3aba5bfcc.jpg");

    /* Set a specific height */
    height: 100%;
    max-width: 1260px;
    margin: 25px auto !important;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: rgb(156, 101, 0);
}

h1 {
    color: aliceblue;
}

.logout-text {
    color: aliceblue;
}

.hero-image {

    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    margin-top: 25%;
    max-width: 1280px;
}

/* .hero-text {
    margin-top: 50px;
  } */

.SQ {
    height: 126px;
}

.Song {
    height: 126px;
}

.Quest {
    height: 126px;
}

main {
    margin-top: 10%;
    padding: 10%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

.comment-div {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    background-color: black;
}

.deleteSong {
    display: block;
}